name: PR Build Check

on:
  pull_request:
    branches:
      - main
      - CI

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: ./.ci/install_dependencies.sh

      - name: Build
        run: ./.ci/build.sh
